name: Build and generate SLSA provenance

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'  # Ex: v1.0.0

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      hashes: ${{ steps.hash.outputs.hashes }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build JAR
        run: ./gradlew build

      - name: Generate hash
        id: hash
        run: |
          artifact="build/libs/slsa-lvl-0.0.1-SNAPSHOT.jar"
          echo "hashes=$(sha256sum $artifact | base64 -w0)" >> "$GITHUB_OUTPUT"

      - name: Upload artifact
        uses: actions/upload-artifact@v4.6.2
        with:
          name: slsa-jar
          path: build/libs/slsa-lvl-0.0.1-SNAPSHOT.jar
          if-no-files-found: error
          retention-days: 5

  provenance:
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      attestations: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: slsa-jar
      - name: Generate build provenance attestation
        uses: actions/attest-build-provenance@db473fddc028af60658334401dc6fa3ffd8669fd # v2.3.0
        with:
          subject-path: "slsa-lvl-0.0.1-SNAPSHOT.jar"
      - name: ls tmp
        run: ls /tmp -a
      - name: ls
        run: ls
      - name: upload attestation
        uses: actions/upload-artifact@v4.6.2
        with:
          name: attestation
          path: /tmp/attestation.json
          if-no-files-found: error
          retention-days: 5

  release:
    needs: [build, provenance]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: slsa-jar

      - name: Upload to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            slsa-lvl-0.0.1-SNAPSHOT.jar
